BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
FORM.home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	COLOR: #444444; HEIGHT: 1px
}
PRE {
	FONT-SIZE: 11px; FONT-FAMILY: "courier new", courier, mono
}
CODE {
	FONT-SIZE: 11px; FONT-FAMILY: "courier new", courier, mono
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
UL {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
DL {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
EM {
	FONT-SIZE: 12px; FONT-STYLE: italic; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #666666
}
.tableheader {
	BORDER-RIGHT: #999999 2px solid; TEXT-ALIGN: left
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.headline {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
P {
	MARGIN-TOP: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
LI {
	MARGIN: 0px
}
DT {
	MARGIN-TOP: 20px
}
FIELDSET {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #8e8e6f; TEXT-DECORATION: underline
}
.underline {
	TEXT-DECORATION: underline
}
.ten {
	MARGIN-LEFT: 10px
}
.tenten {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px
}
myth {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: black
}
.presheadcolor {
	BACKGROUND-COLOR: #217793
}
.presbodycolor {
	BACKGROUND-COLOR: #f5f4e8
}
.dotted-line {
	BACKGROUND-IMAGE: url(file:///C|/Documents%20and%20Settings/bkdelong/Local%20Settings/Temporary%20Internet%20Files/Content.IE5/GTUZG9AX/%22images/dottedline_small.gif%22)
}
A.red:link {
	COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.red:visited {
	COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A.red:active {
	COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.red {
	COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.header {
	BACKGROUND-COLOR: #666666
}
.redbar {
	BACKGROUND-COLOR: #8a0a0a
}
.blackbar {
	BACKGROUND-COLOR: #000000
}
.ltgreybar {
	BACKGROUND-COLOR: #ebebeb
}
.homeheader {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.searchmain {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cccc99; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.searchmain A:link {
	FONT-SIZE: 10px; COLOR: #cccc99; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.searchmain A:visited {
	FONT-SIZE: 10px; COLOR: #cccc99; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.homeheader A:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.homeheader A:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.headercopy {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.searchform {
	BACKGROUND-COLOR: #aeae8a
}
INPUT.white {
	BACKGROUND-COLOR: #ffffff
}
TD.searchform {
	BACKGROUND-COLOR: #aeae8a
}
TABLE.searchform {
	BACKGROUND-COLOR: #aeae8a
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.breadcrumb {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.breadcrumb A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.breadcrumb A:visited {
	FONT-SIZE: 11px; COLOR: #8e8e6f; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.noborder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: #aeae8a; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #aeae8a; COLOR: #aeae8a; BORDER-TOP-COLOR: #aeae8a; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #aeae8a
}
INPUT:unknown {
	BORDER-RIGHT: #aeae8a 0px; BORDER-TOP: #aeae8a 0px; BORDER-LEFT: #aeae8a 0px; BORDER-BOTTOM: #aeae8a 0px
}
.goButton {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BACKGROUND-COLOR: silver; BORDER-RIGHT-WIDTH: 1px
}
.postButton {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BACKGROUND-COLOR: silver; BORDER-RIGHT-WIDTH: 1px
}
.five {
	MARGIN-RIGHT: 5px
}
.leftnav {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccc99
}
.console {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccc99
}
TR.leftnav {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccc99
}
.leftnav A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.leftnav A:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.leftnavsel {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccc99
}
TR.leftnavsel {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccc99
}
.leftnavsel A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.leftnavsel A:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD.preactive {
	BACKGROUND-COLOR: #ffffff
}
.activedept A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #d9d9b3
}
.activedept A:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #d9d9b3
}
TD.activedept {
	COLOR: #d9d9b3; BACKGROUND-COLOR: #d9d9b3
}
.pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.pgtitleln {
	BACKGROUND-COLOR: #cccccc
}
.bodycopy {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.bodycopy-small {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.active {
	BACKGROUND-COLOR: #cccc99
}
.caption {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.caption A:link {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.caption A:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.forty {
	MARGIN-BOTTOM: 40px
}
.subhead UL LI {
	MARGIN: 0px
}
.instruction {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.floatright {
	FLOAT: right
}
.floatleft {
	FLOAT: left
}
.floatrightpad5 {
	PADDING-RIGHT: 2%; PADDING-LEFT: 2%; FLOAT: right; PADDING-BOTTOM: 2%; PADDING-TOP: 2%
}
.floatleftpad5 {
	PADDING-RIGHT: 2%; PADDING-LEFT: 2%; FLOAT: left; PADDING-BOTTOM: 2%; PADDING-TOP: 2%
}
.spothead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #990000; FONT-FAMILY: verdata, arial, helvetica, sans-serif
}
.errorcopy {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.errorsubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.inlineerror {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tbloutline {
	BACKGROUND-COLOR: #999999
}
.columndiv {
	BACKGROUND-COLOR: #999999
}
.tablecopy {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tablecopy A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.tablecopy A:visited {
	FONT-SIZE: 11px; COLOR: #8e8e6f; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.grayrow {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.whiterow {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.gray-row {
	BORDER-RIGHT: #999999 1px solid; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.white-row {
	BORDER-RIGHT: #999999 1px solid; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.white-row TD {
	BORDER-RIGHT: #999999 1px solid
}
.gray-row TD {
	BORDER-RIGHT: #999999 1px solid
}
.blackrow {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #424242
}
.datatable {
	BORDER-COLLAPSE: collapse
}
.infobdr {
	BACKGROUND-COLOR: #8e8e6f
}
.addlnfo {
	BACKGROUND-COLOR: #ebebeb
}
.fieldlabel {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.searchborder {
	BACKGROUND-COLOR: #666666
}
.searchinfo {
	BACKGROUND-COLOR: #aeae8a
}
.footer {
	BACKGROUND-COLOR: #999999
}
.footercopy {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.footercopy A:link {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.footercopy A:visited {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.dashboardtableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999999; TEXT-ALIGN: left
}
.dashboardtablerow {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.dashboardtable {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: silver; BORDER-TOP-COLOR: silver; BACKGROUND-COLOR: #888888; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: silver
}
.reporttableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.gridtableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999999; TEXT-ALIGN: left
}
.gridtablerow {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.gridtableeditrow {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.gridtable {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: silver; BORDER-TOP-COLOR: silver; BACKGROUND-COLOR: #888888; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: silver
}
.grid2tableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #666666; TEXT-ALIGN: center
}
.grid2tablerow {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.grid2table {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: silver; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: silver; BORDER-TOP-COLOR: silver; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: silver
}
